{% extends 'layouts/base.njk' %}

{% block content %}
    <div id="page" class="p-12">
        {{ content | safe }}
    </div>
    {% if enableDisqus %}
        {% if siteData.disqus.enabled %}
            <script id="dsq-count-scr" src="//kriticaltimesdemo.disqus.com/count.js" async></script>
        {% endif %}
    {% endif %}
{% endblock %}