{% block before %}{% endblock %}

<div class="flex w-full border-b border-gray-400">
    <div class="w-2/5 p-12 border-r border-gray-400 font-serif">
        {% block left %}{% endblock %}
    </div>
    <div class="w-3/5 p-12 font-serif">
        {% block right %}{% endblock %}
    </div>
</div>