<footer class="mt-12 bg-{{ siteData.color }}-700 text-white p-12">
    <img src="{{ siteData.logo_alt }}" class="block h-6">
    <div class="my-6 font-serif">
        <div> Based on <a href="https://ctjournal.org/index.php/criticaltimes">Critical Times</a> </div>
        <div> Made by Draedr </div>
        <div> Hosted on <a href="netlify.com"> Netlify </div>
    </div>
</footer>