<footer class="mt-12 bg-{{ siteData.color }}-700 text-white p-12">
    <img src="{{ siteData.logo_alt }}" class="block h-6">
    <div class="my-6 font-serif">
        <div> International Consortium of Crytical Theory Programs </div>
        <div> 440 Stephens Hall, MC 2340 </div>
        <div> Berkeley, CA 94720-2510 </div>
        <div> criticaltimes@berkeley.edu </div>
    </div>
</footer>