<nav class="block md:flex lg:flex">
    <a href="/" class="block flex-grow py-6 border-b border-gray-400 max-h-20">
        <img src="{{ siteData.logo }}" class="mx-auto lg:mx-0 md:mx-0 pl-4 h-8">
    </a>
    <div class="flex-initial flex font-bold font-serif">
        <div class="block flex-grow py-6 border-b border-gray-400 md:hidden lg:hidden"></div>
        <a href="/tags/all/" class="block flex-initial py-6 px-6 align-middle border-b border-gray-400"> Archives </a>
        <a href="/about/" class="block flex-initial py-6 px-6 align-middle border-b border-gray-400"> About </a>
        <div class="block flex-grow py-6 border-b border-gray-400 md:hidden lg:hidden"></div>
        <!-- 
        <div class="block flex-initial sm:flex-grow py-4 px-6 border-b border-gray-400">
            <input class="bg-gray-200 font-bold appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-{{ siteData.color }}-500" id="search" type="text" placeholder="&#128269;">
        </div>
        -->
    </div>
</nav>